.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-button {
    background-color: green;
  color: black;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  }
  .dropdown-button:hover {
    background-color: lavenderblush;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    display: block;
    padding: 8px;
    text-decoration: none;
    color: #333;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .menu__button {
    background-color:green;
    color: black;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s;
    border-radius: 15px
  }
  
  .menu__button:hover {
    background-color: lavenderblush;
  }
  