* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all 0.5s;
    background-color: rgb(56,238,168);
    color: #000;
}
h1{
    text-align: center;
    color: #bb3333;
}
:root {
    /* FONT SIZES */
    --largest-font: 112px;
    --larger-font: 70px;
    --large-font: 34px;
    --text-large-font: 20px;
    --text-font: 16px;
    /* COLOURS */
    --text-color: rgb(94,25,20);
    --hover-color:rgb(2,114,141);
    --dark-color: rgb(94,25,20);
    --bg-color: #b3ffa2;
    --bg-color-header: #56a944d3;
    --header-change-color: #b8eba6d7;

}

.nav-menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    transition: all 0.5s;
}
.nav-menu ul li {
    margin: 1.3em 1.5em;
    font-size: var(--text-large-font);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    color: var(--dark-color);
    cursor: pointer;
    transition: all 0.5s;
}
.nav-menu ul li:hover {
    color: var(--hover-color);
}
.nav-menu ul li a {
    text-decoration: none;
    color: var(--dark-color);
    transition: all 0.5s;
}
.nav-menu ul li a:hover {
    color: var(--hover-color);
}
.nav-toggle {
    display: none;
    visibility: hidden;
    transition: all 0.5s;
}
nav i {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 1.5em;
}
.nav-close {
    display: none;
    visibility: hidden;
    transition: all 0.5s;
}
@media screen and (max-width: 880px) {
    nav {
        justify-content: center;
        padding-right: 0;
        width: 100%;
        height: 80px;
        background: var(--bg-color);
        transition: all 0.5s;
    }
    .nav-menu {
        width: 100%;
        justify-content: center;
        align-items: center;
        display: none;
        background: var(--bg-color);
        box-shadow: 0 2px 10px var(--bg-color-header),
        0 8px 20px var(--bg-color-header);
    }
    .nav-menu ul {
        display: flex;
        flex-direction: column;
        transition: all 0.5s;
    }
    .nav-menu ul li {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: row;
    }
    .nav-menu ul li:nth-child(1) {
        padding-top: 220px;
    }
    .nav-menu ul li a {
        margin: 4px 20px 0 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
