body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

h1 {
    text-align: center;
}
.header__logo img {
    width: 100px; /* Set the desired width */
    height: auto; /* This will maintain the aspect ratio */
}

