body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    max-width: 1000px;
    padding: 20px;
}

.header__logo img {
    width: 300px;
    height: auto;
}

h1 {
    margin: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 8px 16px;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #ddd;
}






.header__logo img {
    width: 100px;
    height: auto;
}
.header__logo {
    flex: 2;
  }
.search-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#searchInput {
    padding: 10px;
    flex-grow: 1;
}

#searchButton {
    padding: 10px 15px;
    background-color: green;
    border: none;
    cursor: pointer;
    color: white;
}
