Body {  
  font-family: Calibri, Helvetica, sans-serif;  
  background-color: #543938;  
  text-align: center;
}
h1{
  align-items: center;
}
button {   
       background-color: maroon;   
       width: 10%;  
        color: #520c17;   
        padding: 15px;   
        margin: 10px 0px;   
        border: none;   
        cursor: pointer;   
         }   
 form {   
        border: 3px solid #520c17;   
    }   
 input[type=text], input[type=password] {   
        width: 30%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;   
        border: 2px solid #520c17;   
        box-sizing: border-box;   
    }  
 button:hover {   
        opacity: 0.7;   
    }   
  .cancelbtn {   
        width: auto;   
        padding: 10px 18px;  
        margin: 10px 5px;  
    }   
        
     
 .container {   
        padding: 15px;   
        background-color:#01a2aB; 
       
    }