body {
  width: 1000px; 
  height: 600px;
  margin-left: 400px;
}

*{
    background-color:#66BB6A ;
    font-size: 20px;
    color: white;
}
.logo-container {
    position: relative;
    top: 0;
    left: 98%;
    transform: translateX(-50%);
  }
  
  img {
    max-width: 5%;
    height: auto;
  }
h1{
    text-align: center;
    font-size: 30px;
}
h2{
    text-align: center;
    font-size: 30px;
}
h3{
    text-align: center;
    font-size: 30px;
}
.resources{
    display: flexbox;
}
.resource-item {
    display: block;
    align-items: center;
    box-shadow: 0 0 10px white;
    border-radius: 10px;
    overflow: hidden;
  }
  .resource-item img {
    max-width: 200px;
    height: auto;
    object-fit: cover;
  }

  
  .resource-item img {
    max-width: 200px;
    height: auto;
    object-fit: cover;
  }
  
  .resource-description {
    padding: 2px;
  }
  
  .resource-description h3 {
    margin-top: 20px;
  }
  
  .resource-description a {
    display: block;
    margin-top: 20px;
  }
  